{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<!--
    	Boxer Template
    	http://www.templatemo.com/tm-446-boxer
    	-->
		<meta charset="utf-8">
		<title>
			{% block title %}

			{% endblock %} | Ekata Social
		</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">

		{% block extrameta %}
		{% endblock %}

        <link rel="shortcut icon" type="image/png" href="{% static "dist/images/favicon.ico" %}">

		<!-- animate css -->
        <link rel="stylesheet" href="{% static "dist/css/animate.min.css" %}">
		<!-- bootstrap css -->
		<link rel="stylesheet" href="{% static "dist/css/bootstrap.min.css" %}">
		<!-- font-awesome -->
		<link rel="stylesheet" href="{% static "dist/css/font-awesome.min.css" %}">
		<!-- bootstrap social icon -->
		<link rel="stylesheet" href="{% static "dist/css/bootstrap-social.css" %}">
		<!-- google font -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>
		<!-- Bootstrap Notify -->
    	<link rel="stylesheet" href="{% static "dist/css/bootstrap-notify.css" %}">

		<!-- custom css -->
		<link rel="stylesheet" href="{% static "dist/css/templatemo-style.css" %}">

		{% block extrastyles %}

		{% endblock %}

	</head>
	<body>
		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-rotating-plane"></div>
    	 </div>
		<!-- end preloader -->
		<!-- start navigation -->
		<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">
						<img alt="Brand" src="{% static "dist/images/logo.png" %}" height="40" width="40">
					</a>
					<h3 class="navbar-text">EKATA</h3>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right text-uppercase">
						<li><a {% if request.path != '/' %}class="external"{% endif %} href="{% url 'index' %}">Home</a></li>
						<li><a {% if request.path != '/' %}class="external"{% endif %} href="{% url 'index' %}#feature">Features</a></li>
						<!--<li><a href="#support">Support</a></li>-->
						<!--<li><a href="#download">Download</a></li>-->
						<li><a {% if request.path != '/' %}class="external"{% endif %} href="{% url 'index' %}#contact">Contact</a></li>
						<li><a class="external" href="{% url 'hashtag' %}">Hashtag</a></li>
						<li><a class="external" href="{% url 'newses' %}">News</a></li>
					</ul>
					<!--
					<ul class="nav navbar-nav navbar-right text-uppercase">
						<li><a href="#"><i class="fa fa-sign-in"></i> Login</a></li>
						<li><a href="#"><i class="fa fa-user-plus"></i> Sign Up</a></li>
					</ul>
					-->
				</div>
			</div>
		</nav>
		<!-- end navigation -->
		<div class="notifications top-right"></div>
		{% block content %}

		{% endblock %}
		<!-- start footer -->
		<footer>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						{% if request.path == '/' %}
						{% else %}
						<ul class="soc">
    						<li><a class="soc-twitter" href="https://twitter.com/ekatasocial"></a></li>
    						<li><a class="soc-facebook" href="https://www.facebook.com/ekatasocial"></a></li>
    						<li><a class="soc-google" href="https://business.google.com/b/110706127430395330685"></a></li>
    						<li><a class="soc-linkedin soc-icon-last" href="https://www.linkedin.com/groups/12011491"></a></li>
						</ul>
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="pull-left footer-link">
							<p><a href="{% url 'disclaimer' %}">Disclaimer</a> | <a href="{% url 'newses' %}">News</a></p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="pull-right footer-link">
							<p class="footer-text">Copyright © 2014-2016 Ekata Social LLC. All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->

		<script src="{% static "dist/js/jquery.js" %}"></script>
		<script src="{% static "dist/js/bootstrap.min.js" %}"></script>
		<script src="{% static "dist/js/wow.min.js" %}"></script>
		<script src="{% static "dist/js/jquery.singlePageNav.min.js" %}"></script>
    	<script src="{% static "dist/js/bootstrap-notify.js" %}"></script>
		<script src="{% static "dist/js/custom.js" %}"></script>
		{% block extrascripts %}

		{% endblock %}
	</body>
</html>
