{% extends "base.html" %}
{% block title %}
    Disclaimer
{% endblock %}
{% block content %}
    <section id="disclaimer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Disclaimer</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>No warranties</h2>
                    <hr align="left">
                    <p>This website is provided “as is” without any representations or warranties, express or implied. </p>
                    <p> <span class="companyname">Ekata Social</span> makes no representations or warranties in relation to this website or the information and materials provided on this website. </p>
                    <p>Without prejudice to the generality of the foregoing paragraph, <span class="companyname">Ekata Social</span> does not warrant that:</p>
                    <ul>
                        <li>this website will be constantly available, or available at all; or</li>
                        <li>the information on this website is complete, true, accurate or non-misleading.</li>
                    </ul>
                    <p>Nothing on this website constitutes, or is meant to constitute, advice of any kind. </p>
                    <h2>Limitations of liability</h2>
                    <hr align="left">
                    <p><span class="companyname">Ekata Social</span> will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>
                    <ul>
                        <li>for any indirect, special or consequential loss; or</li>
                        <li>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li>
                    </ul>
                    <p>These limitations of liability apply even if <span class="companyname">Ekata Social</span> has been expressly advised of the potential loss.</p>
                    <h2>Exceptions</h2>
                    <hr align="left">
                    <p>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit <span class="companyname">Ekata Social</span>'s liability in respect of any:</p>
                    <ul>
                        <li>death or personal injury caused by <span class="companyname">Ekata Social</span>'s negligence;</li>
                        <li>fraud or fraudulent misrepresentation on the part of <span class="companyname">Ekata Social</span> or</li>
                        <li>matter which it would be illegal or unlawful for <span class="companyname">Ekata Social</span> to exclude or limit, or to attempt or purport to exclude or limit, its liability.
                        </li>
                    </ul>
                    <h2>Reasonableness</h2>
                    <hr align="left">
                    <p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.If you do not think they are reasonable, you must not use this website.</p>
                    <h2>Other parties</h2>
                    <hr align="left">
                    <p>You accept that, as a limited liability entity, <span class="companyname">Ekata Social</span> has an interest in limiting the personal liability of its officers and employees. You agree that you will not bring any claim personally against <span class="companyname">Ekata Social</span>'s officers or employees in respect of any losses you suffer in connection with the website.</p>
                    <p>[Without prejudice to the foregoing paragraph,] you agree that the limitations of warranties and liability set out in this website disclaimer will protect <span class="companyname">Ekata Social</span>'s officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as <span class="companyname">Ekata Social</span>.</p>
                    <h2>Unenforceable provisions</h2>
                    <hr align="left">
                    <p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
