{% extends "base.html" %}
{% load staticfiles socialaccount %}
{% block title %}
    Hashtag
{% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="{% static "dist/css/bootstrap-image-gallery.min.css" %}" charset="utf-8">
{% endblock %}
{% block extrameta %}
    <meta property="og:url" content="https://ekata.social/hashtag/" />
    <meta property="og:title" content="Basic Income Hashtag Banner" />
    <meta property="og:description" content="Show support for basic income by adding a hashtag banner" />
    <meta property="og:image" content="https://ekata.social/static/dist/images/ekata-hashtag-banner-200-sq.png" />
    <meta property="fb:app_id" content="675793779103244">
{% endblock %}
{% block content %}
<section id="home">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s" style="margin-top:15%">
                    <h1 class="text-upper">Show Support</h1>
                    <p class="tm-white">In adding the #basicincome hashtag banner to your facebook and twitter profile !!</p>
                </div>
                <div class="col-md-6 wow bounceInLeft">
                    <img src="{% static "dist/images/ekata-hashtag-banner.png" %}" class="img-responsive bannerimg" alt="hashtag banner image">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="hashtag">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeIn text-center" data-wow-delay="0.6s">
                <h2 class="text-uppercase">Add banner</h2>
                <p style="text-align: justify">
                    This hashtag banner is being hosted by Ekata Social for basic income supporters. We do not store or share your social logins as it is only used for retrieving and upload your profile image.
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 wow bounceIn" data-wow-delay="0.6s" style="margin-top:15%">
                    {% if request.user.is_authenticated %}
                        {% for account in request.user.socialaccount_set.all %}
                            {% if account.get_provider_display == 'Facebook' %}
                                <button class="btn btn-primary" id="socialimg" data-img-url="{{ account.get_avatar_url }}" data-provider="{{ account.get_provider_display }}">
                                    Get my facebook profile image
                                </button>
                                <div class="btn-group" style="width: 41%; margin-top: 10px;">
                                    <ul class="fc-color-picker" id="color-chooser">
                                        <li><a class="text-aqua" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                        <li><a class="text-blue" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                        <li><a class="text-light-blue" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                        <li><a class="text-teal" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                        <li><a class="text-yellow" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                        <li><a class="text-orange" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                        <li><a class="text-green" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                        <li><a class="text-lime" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                        <li><a class="text-red" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                        <li><a class="text-purple" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                        <li><a class="text-fuchsia" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                        <li><a class="text-navy" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                    </ul>
                                </div>
                            {% else %}
                                {% if account.get_provider_display == 'Twitter' %}
                                    <button class="btn btn-primary" id="socialimg" data-img-url="{{ account.get_avatar_url }}" data-provider="{{ account.get_provider_display }}">
                                        Get my twitter profile image
                                    </button>
                                    <div class="btn-group" style="width: 41%; margin-top: 10px;">
                                        <ul class="fc-color-picker" id="color-chooser">
                                            <li><a class="text-aqua" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                            <li><a class="text-blue" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                            <li><a class="text-light-blue" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                            <li><a class="text-teal" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                            <li><a class="text-yellow" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                            <li><a class="text-orange" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                            <li><a class="text-green" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                            <li><a class="text-lime" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                            <li><a class="text-red" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                            <li><a class="text-purple" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                            <li><a class="text-fuchsia" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                            <li><a class="text-navy" href="javascript:void(0);"><i class="fa fa-square"></i></a></li>
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>Please login below to get your profile picture <br> and start editing</p>
                        <a href="{% provider_login_url "facebook" %}" class="btn btn-social btn-block btn-facebook"><span class="fa fa-facebook"></span> Login with facebook</a>
                        <a href="{% provider_login_url "twitter" %}" class="btn btn-social btn-block btn-twitter" style="margin-bottom:20px;"><span class="fa fa-twitter"></span> Login with twitter</a>
                    {% endif %}
                </div>
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.6s">
                    <div id="cnvsdiv" class="canvas__container">
                        <canvas id="cnvs" class="canvas__canvas" height="600" width="600" style="width:100%; height:100;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="progress" id="uploadProgressBar" style="margin-top: 10px;">
                    <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                </div>
                {% if request.user.is_authenticated %}
                    {% for account in request.user.socialaccount_set.all %}
                        {% if account.get_provider_display == 'Facebook' %}
                        <button class="btn btn-info" id="upload">
                            Upload to Facebook
                        </button>
                        {% endif %}
                        {% if account.get_provider_display == 'Twitter' %}
                        <button class="btn btn-info" id="upload">
                            Upload to Twitter
                        </button>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <a href="" class="btn btn-primary btn-flat" target="_blank" id="makeprofile">Make profile image</a>
                <div class="text-center" style="margin-top: 10px;">
                    <label class="btn btn-primary btn-file">
                        Upload an image <input type="file" id="uploadlocale" style="display: none;">
                    </label>
                </div>
                <div class="text-center" style="margin-top: 10px;">
                    <a class="btn btn-primary btn-flat" download="ekata-social-basic-income-campaign.png" id="download">Download image</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="hashtagmap">
    <div class="row">
        <div class="col-md-12 wow bounceIn text-center">
            <h2 style="color:#7b7b7b;">World Supporters of Basic Income</h2>
            <p>
                Banner images stored on Ekata Social site are for the sole purpose of this page and map in dedication to the basic income.
            </p>
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-6 col-md-offset-3">
            <div id="links">
                {% for hashtagimg in hashtagimges  %}
                <a href="{{ hashtagimg.image.url }}" title="{{ hashtagimg.uploader }}" data-gallery>
                    <img src="{{ hashtagimg.image.thumbnail.75x75 }}">
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
      <div class="col-md-6 col-md-offset-3">
        <div id="map" style="width:100%;height:350px"></div>
      </div>
    </div>
</section>
<div id="imgModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="imguploader"></h4>
      </div>
      <div class="modal-body" id="imgmodalbody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="fa fa-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrascripts %}
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="{% static "dist/js/bootstrap-image-gallery.min.js" %}"></script>
    <script type="text/javascript">
        function hashTagMap() {
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                center: new google.maps.LatLng(51.508742,-0.120850),
                zoom: 1,
                disableDefaultUI: true,
                styles: [
                    {
                        "featureType": "road",
                        "stylers": [
                            { "visibility": "off" }
                        ]
                    }
                ]
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var opt = { minZoom: 1, maxZoom: 5 };
            map.setOptions(opt);
            var hashtags = [
                {% for hashtagimg in hashtagimges %}
                    ['{{ hashtagimg.uploader }}', {{ hashtagimg.lat }}, {{ hashtagimg.lng }}, 1, '{{ hashtagimg.image.thumbnail.128x128 }}', '{{ hashtagimg.id }}'],
                {% endfor %}
            ];
            var myLatLng = {lat: -25.363, lng: 131.044};
            var image = {
                url: '{% static "dist/images/reddot.png" %}', // url
                scaledSize: new google.maps.Size(8, 8), // scaled size
                origin: new google.maps.Point(0,0), // origin
                anchor: new google.maps.Point(0, 0) // anchor
            };
            for (var i = 0; i < hashtags.length; i++) {
                var hashtag = hashtags[i];
                var marker = new google.maps.Marker({
                    position: {lat: hashtag[1], lng: hashtag[2]},
                    map: map,
                    title: hashtag[0],
                    zIndex: hashtag[3],
                    icon: image,
                });
                attachImg(marker, hashtag[4], hashtag[0], hashtag[5]);
            }
        }
        function attachImg(marker, img, uploader, id) {
            var content = '<div id="content">' + '<h5>' + uploader + '</h5>' + '<img onclick=showImg(' + id + ') src=' + img + ' />' + '</div>'
            var infowindow = new google.maps.InfoWindow({
                content: content,
            });

            marker.addListener('mousedown', function() {
                infowindow.open(marker.get('map'), marker);
            });
        }
        function showImg(id) {
            $.get('{% url 'getimage' %}?id=' + id, function(data) {
                $("#imguploader").text(data.uploader);
                var img = '<img src=' + data.img + ' />';
                $("#imgmodalbody").empty();
                $("#imgmodalbody").html(img);
                $("#imgModal").modal('show');
            });
        }
        var cnvs = document.getElementById('cnvs'),
            ctx = cnvs.getContext('2d'),
            col = '#34495e';
        var hashtag_overlay = '{% static "dist/images/hashtag-basicincome-white.png" %}';
        var default_image = '{% static "dist/images/default_image.png" %}';
        var img1 = new Image();
            img1.setAttribute('crossOrigin', 'anonymous');
            img1.src = default_image;
        var img2 = new Image();
            img2.setAttribute('crossOrigin', 'anonymous');
            img2.src = hashtag_overlay;
            img2.onload = function() {
                if (localStorage.getItem("localimage")) {
                    updateInfo(col, localStorage.getItem("localimage"), img2);
                }
            };
        function mobileCheck() {
                var check = false;
                (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4)))check = true})(navigator.userAgent||navigator.vendor||window.opera);
                    return check;
        }
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        jQuery.ajaxSettings.traditional = true;
        function updateInfo(col, avatar_url) {
            img1.setAttribute('crossOrigin', 'anonymous');
            img1.src = avatar_url;
            img1.onload = function(){
                drawCanvas(col, img1, img2);
            }
        }
        function saveImg() {
            var mimeType = 'image/png';
            var imageData = cnvs.toDataURL(mimeType);
            try {
                var byteString = atob(imageData.split(',')[1]);
                var ab = new ArrayBuffer(byteString.length);
                var ia = new Uint8Array(ab);
                for (var i = 0; i < byteString.length; i++) {
                    ia[i] = byteString.charCodeAt(i);
                }
                var blob = new Blob([ab], {type: 'image/png'});
            } catch (e) {
                console.log(e);
            }
            var fd = new FormData();
            fd.append("uploader", '{{ request.user.username }}');
            fd.append("source", blob);
            $.ajax({
                url: '{% url 'saveimage' %}',
                type: 'POST',
                data:fd,
                async:false,
                processData:false,
                contentType:false,
                cache:false,
            });
        }
        function drawCanvas(col, img1, img2){
            ctx.clearRect(0, 0, cnvs.width, cnvs.height);
            ctx.drawImage(img1, 0, 0, cnvs.width, cnvs.height);
            ctx.fillStyle = col;
            ctx.globalAlpha = 0.6;
            ctx.fillRect(0, ((cnvs.height / 100) * 85), cnvs.width, ((cnvs.height / 100) * 15));
            ctx.globalAlpha = 1.0;
            ctx.drawImage(img2, 0, ((cnvs.height / 100) * 85), cnvs.width, ((cnvs.height / 100) * 15));
        }
        function requestDeleteAccount() {
            $.ajax({
                url: '{% url 'deleteaccount' %}',
                async: false,
                success: function(data) {
                    location.reload();
                }
            });
        }
        $("#socialimg").click(function() {
            var img1_url = $(this).attr("data-img-url");
            updateInfo(col, img1_url);
        });
        $("#color-chooser > li > a").click(function (e) {
            var color = $(this).css('color');
            drawCanvas(color, img1, img2);
        });
        updateInfo(col, default_image);
        {% if request.user.is_authenticated %}
            {% for account in request.user.socialaccount_set.all %}
                {% if account.get_provider_display == 'Facebook' %}
                    $.get('{% url 'getcred' %}', function(data){
                        if (data.has_facebook) {
                            $("#upload").attr('data-uid', data.uid);
                            $("#upload").attr('data-token', data.access_token);
                            $("#upload").attr('data-provider', 'facebook');
                        }
                    });
                {% endif %}
            {% endfor %}
        {% endif %}
        $("#upload").on('click', function(event) {
            event.preventDefault();
            var mimeType = 'image/png';
            var imageData = cnvs.toDataURL(mimeType);
            try {
                var byteString = atob(imageData.split(',')[1]);
                var ab = new ArrayBuffer(byteString.length);
                var ia = new Uint8Array(ab);
                for (var i = 0; i < byteString.length; i++) {
                    ia[i] = byteString.charCodeAt(i);
                }
                var blob = new Blob([ab], {type: 'image/png'});
            } catch (e) {
                console.log(e);
            }
            $(this).attr('disabled', 'disabled');
            $(this).text('Uploading.....');
            var name = $(this).attr('data-provider');
            if (name === 'facebook'){
                var access_token = $(this).attr('data-token');
                var uid = $(this).attr('data-uid');
                var url = "https://graph.facebook.com/" + uid + "/photos";
                var fd = new FormData();
                fd.append("access_token", access_token);
                fd.append("source", blob);
                fd.append("caption", "Support #basicincome goto https://ekata.social/hashtag/");
            }
            else {
                var url = "{% url 'twitterupload' %}";
                var fd = new FormData();
                fd.append("source", blob);
            }
            $("#uploadProgressBar").show();
            $.ajax({
                url: url,
                type: 'POST',
                data:fd,
                processData:false,
                contentType:false,
                cache:false,
                xhr: function() {
                    var xhr = $.ajaxSettings.xhr();
                    if (xhr.upload) {
                        xhr.upload.addEventListener('progress', function(evt) {
                            var percent = (evt.loaded / evt.total) * 100;
                            $("#uploadProgressBar").find('.progress-bar').width(percent + "%");
                        }, false);
                    }
                return xhr;
                },
                success: function(data) {
                    if (name === 'facebook') {
                        var subDomain = "www";
                        var getParams = "&makeprofile=1";
                        if (mobileCheck() === true) {
                            subDomain = "m";
                            getParams = "&prof";
                        }
                        var linkUrl = "https://" + subDomain + ".facebook.com/photo.php?fbid=" + data.id + getParams;
                        $("#makeprofile").attr('href', linkUrl);
                        $("#upload").hide();
                        saveImg();
                        $("#uploadProgressBar").hide();
                        $("#makeprofile").show('slow');
                    }
                    else {
                        $("#upload").removeClass('btn-primary');
                        $("#upload").text("Uploaded");
                        $("#upload").addClass('btn-success');
                        saveImg();
                        $("#uploadProgressBar").hide();
                        location.reload();
                    }
                    $('.top-right').notify({
                        message: { text: 'Success!!'},
                        type: 'info',
                    }).show();
                },
                error: function(shr, status, data) {
                    $("#uploadProgressBar").hide();
                    $("#uploadbtn").removeClass('btn-primary');
                    $("#uploadbtn").addClass('btn-danger');
                    $("#uploadbtn").text("Cant upload now!! try later");
                    $('.top-right').notify({
                        message: { text: 'Error!!'},
                        type: 'danger',
                    }).show();
                }
            });
        });
        $("#download").click(function(){
            var dataURL = cnvs.toDataURL('image/png');
            $(this).attr('href', dataURL);
            $.ajax({
                url: '{% url 'downloaded' %}',
                type: 'POST'
            });
        });
        $("#makeprofile").click(function(){
            requestDeleteAccount();
        })
        $("#makeprofile").hide();
        $("#uploadProgressBar").hide();
        if ($("#socialimg").attr('data-img-url')) {
            $("#upload").show();
        }
        else {
            $("#upload").hide();
        }
        {% if request.user.is_authenticated %}
            $( window ).on('unload', function(){
                requestDeleteAccount();
            });
        {% endif %}
        $("#uploadlocale").on('change', function(e){
            var reader = new FileReader();
            reader.onload = function(event){
                var img = new Image();
                img.onload = function(){
                    updateInfo(col, img.src);
                    localStorage.setItem("localimage", img.src);
                }
            img.src = event.target.result;
            }
            reader.readAsDataURL(e.target.files[0]);
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=hashTagMap&key=AIzaSyDT9La3M6Mq1ncgY8INIhurRFNiFuw8AuQ"></script>
{% endblock %}
